<div id="{{row_card_id}}" class="row sort-row">
	<div class="col-lg-6 col-md-5 col-sm-6 left-bc-view">
		<!-- Picture & Status bar -->
	</div>
	<div class="col-lg-6 col-md-5 col-sm-6 right-bc-view">
		<!-- Detailed Tabs -->
	</div>

</div>
