<p>“{{comment}}”
	<strong>By: <a href="#">{{full_name}},</a> {{timestamp}}</strong>
	<span  class="add-coment-link remove-coment">
		<a href="#" data-comment-id="{{comment_id}}" class="delete-comment tooltip-link"><strong>Delete Comment</strong><img src="assets/sat_images/recycle.png" alt=""></a>
	</span>
</p>
