<div class="row gap-row">
	<div class="col-lg-4 col-md-5 col-sm-6 left-bc-view">
		<!-- Picture & Status bar -->
	</div>
	<div class="col-lg-4 col-md-5 col-sm-6 right-bc-view">
		<!-- Detailed Tabs -->
	</div>
</div>