<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Names</a>
    </h4>
</div>
<div id="collapseThree" class="panel-collapse collapse">
    <div class="panel-body">
        <ul>
            {{#each contacts}}
            <li><input type="checkbox" id="{{full_name}}" name="{{full_name}}" onchange="contactChanged(this);" class="filter-chb filter-chb2" />
                {{full_name}}
            </li>
            {{/each}}
        </ul>
    </div>
</div>
