@font-face {
	font-family: 'Arial';
	src: url('fonts/arial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Comic Sans MS';
	src: url('fonts/comic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Courier New';
	src: url('fonts/cour.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Times New Roman';
	src: url('fonts/times.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Verdana';
	src: url('fonts/verdana.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.mg-toolbar{
	background: #ccc none repeat scroll 0 0;
	border: 1px solid #777;
	height: auto;
	position: absolute;
	text-align: center;
	width: 350px;
	max-width: 350px;
	padding: 10px;
	z-index: 2000;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
@media (max-width: 768px) {
	.mg-toolbar{
		top: 100px;
		left: 100px;
		/*width: 202px !important;*/
		width: 217px !important;
	}
}
.intexted-visible{
	display: block;
}
.intexted-hidden{
	display: none;
}
.commands {
	float: left;
}
.commands a{
	background: #ccc none repeat scroll 0 0;
	border-width: 1px;
	border-style:	solid;
	border-color: #808080;
	color: #808080;
	display: inline-block;
	height: 28px;
	/*margin-top: -1px;*/
	padding-top: 4px;
	text-align: center;
	width: 28px;
}
@media (max-width: 768px) {
	.commands a{
		/*width: 45px !important;*/
		width: 60px !important;
		height: 45px !important;
		padding-top: 14px !important;
		margin-bottom: 10px !important;
	}
}
.pressed{
	background: #eee !important;
	border-color: #F99829 !important;
	color: #F99829 !important;
}
.commands a:hover,
.commands a:focus{
	text-decoration: none;
}
.commands a.clear{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-right: 5px;
	width: 24px;
	height: 24px;
	margin-top: 1px;
}
.control{
	/*margin-left: 5px;*/ 
	margin-right: 5px; 
}
@media (max-width: 768px) {
	.control{
		/*margin-right: 15px !important;*/
		margin-right: 0px !important;
	}
}			
.commands a.bold{
	font-weight: bold;
}
.commands a.italic{
	font-style: italic;
}
.commands a.underline{
	text-decoration: underline;
}
.edit-mode{
	border: 2px solid #F99829;
}
.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}
.underline{
	text-decoration: underline;
}
.al-left{
	text-align: left;
}
.al-center{
	text-align: center;
}
.al-right{
	text-align: right;
}
.mg-toolbar select{
	/*margin-top: 10px;*/
	float: left;
	width: 150px;
}
.mg-close{
	color: #fff !important;
	margin-bottom: 5px;
	margin-right: -6px;
	margin-top: -10px;			
	opacity: .6;
	font-weight: normal;
}
select.fontfamily{
	height: 28px;
}
@media (max-width: 768px) {
	select.fontfamily{
		height: 45px !important;
		/*width: 170px !important;*/
		width: 190px !important;
		margin-bottom: 10px !important;
	}
}
select.fontsize{
	height: 28px;
	/*width: 46px;*/
	width: 60px;
}
@media (max-width: 768px) {
	select.fontsize{
		height: 45px !important;
		/*width: 46px !important;*/
	}
}
.mg-toolbar input.mg-text{
	float: left;
	width: 150px;
	height: 28px;
	margin-right: 5px;
}
@media (max-width: 768px) {
	.mg-toolbar input.mg-text{
		height: 45px !important;
		/*width: 170px !important;*/
		width: 190px !important;
		margin-bottom: 10px !important;
		margin-right: 0 !important;
	}
}			
.wrap {
	position: relative;
	width: 150px;
}

input[type=button] {
	background: #ccc;
	border: medium none;
	color: #808080;
	font-size: 20px;
	margin: 1px 1px 1px 0;
	position: absolute;
	right: 0;
	top: 0;			
}			
input[type=button].btn-clear{
	font-size: 17px;
	padding: 1px 8px 0;
}
@media (max-width: 768px) {
	input[type="button"] {
		font-size: 30px;
		margin: 1px -19px !important;
		position: absolute !important;
		right: 0 !important;
		top: 0 !important;
	}				
}
.colorpicker{
	width: 200px !important;
}
.colorpicker-saturation {
  height: 150px !important;
  width: 150px !important;
}
.colorpicker-alpha, .colorpicker-hue {
  width: 30px !important;
	height: 150px !important;
}
.colorpicker.colorpicker-with-alpha .colorpicker-alpha {
  display: none;
}
.colorpicker-color {
  display: none;
}
.fi-address-book::before, .fi-alert::before, .fi-align-center::before, .fi-align-justify::before, .fi-align-left::before, .fi-align-right::before, .fi-anchor::before, .fi-annotate::before, .fi-archive::before, .fi-arrow-down::before, .fi-arrow-left::before, .fi-arrow-right::before, .fi-arrow-up::before, .fi-arrows-compress::before, .fi-arrows-expand::before, .fi-arrows-in::before, .fi-arrows-out::before, .fi-asl::before, .fi-asterisk::before, .fi-at-sign::before, .fi-background-color::before, .fi-battery-empty::before, .fi-battery-full::before, .fi-battery-half::before, .fi-bitcoin-circle::before, .fi-bitcoin::before, .fi-blind::before, .fi-bluetooth::before, .fi-bold::before, .fi-book-bookmark::before, .fi-book::before, .fi-bookmark::before, .fi-braille::before, .fi-burst-new::before, .fi-burst-sale::before, .fi-burst::before, .fi-calendar::before, .fi-camera::before, .fi-check::before, .fi-checkbox::before, .fi-clipboard-notes::before, .fi-clipboard-pencil::before, .fi-clipboard::before, .fi-clock::before, .fi-closed-caption::before, .fi-cloud::before, .fi-comment-minus::before, .fi-comment-quotes::before, .fi-comment-video::before, .fi-comment::before, .fi-comments::before, .fi-compass::before, .fi-contrast::before, .fi-credit-card::before, .fi-crop::before, .fi-crown::before, .fi-css3::before, .fi-database::before, .fi-die-five::before, .fi-die-four::before, .fi-die-one::before, .fi-die-six::before, .fi-die-three::before, .fi-die-two::before, .fi-dislike::before, .fi-dollar-bill::before, .fi-dollar::before, .fi-download::before, .fi-eject::before, .fi-elevator::before, .fi-euro::before, .fi-eye::before, .fi-fast-forward::before, .fi-female-symbol::before, .fi-female::before, .fi-filter::before, .fi-first-aid::before, .fi-flag::before, .fi-folder-add::before, .fi-folder-lock::before, .fi-folder::before, .fi-foot::before, .fi-foundation::before, .fi-graph-bar::before, .fi-graph-horizontal::before, .fi-graph-pie::before, .fi-graph-trend::before, .fi-guide-dog::before, .fi-hearing-aid::before, .fi-heart::before, .fi-home::before, .fi-html5::before, .fi-indent-less::before, .fi-indent-more::before, .fi-info::before, .fi-italic::before, .fi-key::before, .fi-laptop::before, .fi-layout::before, .fi-lightbulb::before, .fi-like::before, .fi-link::before, .fi-list-bullet::before, .fi-list-number::before, .fi-list-thumbnails::before, .fi-list::before, .fi-lock::before, .fi-loop::before, .fi-magnifying-glass::before, .fi-mail::before, .fi-male-female::before, .fi-male-symbol::before, .fi-male::before, .fi-map::before, .fi-marker::before, .fi-megaphone::before, .fi-microphone::before, .fi-minus-circle::before, .fi-minus::before, .fi-mobile-signal::before, .fi-mobile::before, .fi-monitor::before, .fi-mountains::before, .fi-music::before, .fi-next::before, .fi-no-dogs::before, .fi-no-smoking::before, .fi-page-add::before, .fi-page-copy::before, .fi-page-csv::before, .fi-page-delete::before, .fi-page-doc::before, .fi-page-edit::before, .fi-page-export-csv::before, .fi-page-export-doc::before, .fi-page-export-pdf::before, .fi-page-export::before, .fi-page-filled::before, .fi-page-multiple::before, .fi-page-pdf::before, .fi-page-remove::before, .fi-page-search::before, .fi-page::before, .fi-paint-bucket::before, .fi-paperclip::before, .fi-pause::before, .fi-paw::before, .fi-paypal::before, .fi-pencil::before, .fi-photo::before, .fi-play-circle::before, .fi-play-video::before, .fi-play::before, .fi-plus::before, .fi-pound::before, .fi-power::before, .fi-previous::before, .fi-price-tag::before, .fi-pricetag-multiple::before, .fi-print::before, .fi-prohibited::before, .fi-projection-screen::before, .fi-puzzle::before, .fi-quote::before, .fi-record::before, .fi-refresh::before, .fi-results-demographics::before, .fi-results::before, .fi-rewind-ten::before, .fi-rewind::before, .fi-rss::before, .fi-safety-cone::before, .fi-save::before, .fi-share::before, .fi-sheriff-badge::before, .fi-shield::before, .fi-shopping-bag::before, .fi-shopping-cart::before, .fi-shuffle::before, .fi-skull::before, .fi-social-500px::before, .fi-social-adobe::before, .fi-social-amazon::before, .fi-social-android::before, .fi-social-apple::before, .fi-social-behance::before, .fi-social-bing::before, .fi-social-blogger::before, .fi-social-delicious::before, .fi-social-designer-news::before, .fi-social-deviant-art::before, .fi-social-digg::before, .fi-social-dribbble::before, .fi-social-drive::before, .fi-social-dropbox::before, .fi-social-evernote::before, .fi-social-facebook::before, .fi-social-flickr::before, .fi-social-forrst::before, .fi-social-foursquare::before, .fi-social-game-center::before, .fi-social-github::before, .fi-social-google-plus::before, .fi-social-hacker-news::before, .fi-social-hi5::before, .fi-social-instagram::before, .fi-social-joomla::before, .fi-social-lastfm::before, .fi-social-linkedin::before, .fi-social-medium::before, .fi-social-myspace::before, .fi-social-orkut::before, .fi-social-path::before, .fi-social-picasa::before, .fi-social-pinterest::before, .fi-social-rdio::before, .fi-social-reddit::before, .fi-social-skillshare::before, .fi-social-skype::before, .fi-social-smashing-mag::before, .fi-social-snapchat::before, .fi-social-spotify::before, .fi-social-squidoo::before, .fi-social-stack-overflow::before, .fi-social-steam::before, .fi-social-stumbleupon::before, .fi-social-treehouse::before, .fi-social-tumblr::before, .fi-social-twitter::before, .fi-social-vimeo::before, .fi-social-windows::before, .fi-social-xbox::before, .fi-social-yahoo::before, .fi-social-yelp::before, .fi-social-youtube::before, .fi-social-zerply::before, .fi-social-zurb::before, .fi-sound::before, .fi-star::before, .fi-stop::before, .fi-strikethrough::before, .fi-subscript::before, .fi-superscript::before, .fi-tablet-landscape::before, .fi-tablet-portrait::before, .fi-target-two::before, .fi-target::before, .fi-telephone-accessible::before, .fi-telephone::before, .fi-text-color::before, .fi-thumbnails::before, .fi-ticket::before, .fi-torso-business::before, .fi-torso-female::before, .fi-torso::before, .fi-torsos-all-female::before, .fi-torsos-all::before, .fi-torsos-female-male::before, .fi-torsos-male-female::before, .fi-torsos::before, .fi-trash::before, .fi-trees::before, .fi-trophy::before, .fi-underline::before, .fi-universal-access::before, .fi-unlink::before, .fi-unlock::before, .fi-upload-cloud::before, .fi-upload::before, .fi-usb::before, .fi-video::before, .fi-volume-none::before, .fi-volume-strike::before, .fi-volume::before, .fi-web::before, .fi-wheelchair::before, .fi-widget::before, .fi-wrench::before, .fi-x-circle::before, .fi-x::before, .fi-yen::before, .fi-zoom-in::before, .fi-zoom-out::before {
  font-size: 18px;
}